/*global*/

body {
  padding-top: 50px;
}

header a{
    font-family: 'Courgette';
}

footer{
    background: #16a085;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Courgette';
}

/*section style*/

.satu{
	background-color:white;
	padding: 30px 0 30px 0;
	color:black;
}
.hijau{
	background-color:#16a085;
	padding: 30px 0 30px 0;
	color:white;
}
.gambar{
	background: #242A33 url(../img/9.jpg) no-repeat scroll 50% 50% / cover;
	padding: 30px 0 30px 0;
	color:white;
}

.section p{
	text-align: justify;
}
/*images style*/

.lingkaran-img{
	border-radius: 50%;
	border:white solid 10px;
}

/*typo style*/
.heading-xl{
	font-weight: normal;
	font-family: 'Courgette';
	color: white;
	font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-stretch: normal;
    font-size: 52px;
    line-height: 1.1;
}

.heading-l{
    font: 30px/1.1 "Montserrat";
}

.heading-x{
	text-align: center;
	font-size: xx-large;
	font-family: 'Courgette';
	font-weight: normal;
}

.span-putih{
	color: white;
}
.span-hijau{
	color: #16a085;
}
.span-gold{
	color: #FFDD86;
}

/*kolom section*/

.normal{
	padding: 10px 0 10px 0
}

/*accordion*/
button.accordion {
    background-color: #16a085;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


button.accordion.active, button.accordion:hover {
    background-color: #16a085;
}


div.panela {
    padding: 18px;
    background-color: #def2ee;
    display: none;
}

button.accordion:after {
    content: '\002B';
    font-size: 13px;
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

/*video*/

video {
  width: 100%    !important;
  height: auto   !important;
}

.videoyoutube{text-align:center;margin:auto;width:100%;}
.video-responsive{position:relative;padding-bottom:56.25%;height:0;overflow:hidden;}
.video-responsive iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}

.video-testi{
    background: #16a085;
    padding: 10px;
}
.besar{
	display: table;
    width: 100%;
    border-collapse: separate;
  	border-spacing: 10px;
}
.sedang{
	display: table-row;
    width: 100%;
}
@media screen and (max-width: 479px) {
    .besar, .sedang {
        display: block;
    }
    .seimbang {
        display:inline-block;
    }
}

/*font*/

@font-face { 
    font-family: Montserrat;
    src: url('../fonts/Montserrat-ExtraBold.ttf');
}

@font-face { 
    font-family: Courgette;
    src: url('../fonts/Courgette-Regular.ttf');
} 

/*form pemesanan*/

.form-order{
    background: #16a085;
    padding: 20px;
    color:white;
    border-radius: 10px;
}